<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.wgjc.test.dao.StudentMapper">
	<select id="getStudentByID" resultType="com.wgjc.test.entity.Student" parameterType="java.lang.String">
		 select * from student where ID = #{ID}
	</select>

    <select id="getallStudents" resultType="com.wgjc.test.entity.Student">
        select * from student
    </select>

    <insert id="addStudent" parameterType="com.wgjc.test.entity.Student">
        insert into student(ID,name,age) values (#{ID},#{name},#{age})
    </insert> 
    
    <update id="updateStudent" parameterType="com.wgjc.test.entity.Student">
    	update student a set a.name = #{name},a.age = #{age} where a.ID = #{ID}
    </update>
    
    <delete id="deleteStudentByID" parameterType="java.lang.String">
    	delete from student where ID = #{ID}
    </delete>
</mapper>